# Create your own gradle.properties file, this is just an example
# Release signature configuration
STORE=/path/to/kaupunkifillarit/keystore.jks
ALIAS=kaupunkifillarit
# Optional, the build system will ask for these if not defined
STORE_PASSWORD=password
KEY_PASSWORD=password
